* {
  box-sizing:border-box;
}

html, body {
  padding:0;
  margin:0;
  height:100%;
  width:100%;
  color:#dedede;
  background-color: #849091;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

header {
  width:100%;
  position:absolute;
  text-align:center;
  bottom:20px;
}

header a, header a:visited {
  font-size:18px;
  color:#dedede;
  text-decoration:none;
}

header a:hover {
  text-decoration:underline;
}

section {
  height:70%;
  background-color:#2B2B2A;
}

section input {
  display:block;
  height:52px;
  width:800px;
  margin:10px auto;
  outline:none;
  background-color:transparent;
  border:none;
  border-bottom:1px solid #2B2B2A;
  padding:0;
  font-size:42px;
  color:#eee;
}

#messages {
  background-color:#232323;
  padding:10px;
  height:100%;
  width:800px;
  margin:0 auto;
  overflow-y:auto;
}

#messages p {
  margin:5px 0;
  padding:0;
}

.info {
  margin:5px 0;
  font-style:italic;
}

.message-container {
  margin:5px 0;
  color:#fff;
}

.message-container .username {
  display:inline-block;
  margin-right:5px;
  font-weight:bold;
  color:#849091;
}

.me, .username.me {
  font-weight:bold;
  color:cyan;
}

.message-container .username.me {
  display:inline-block;
  margin-right:5px;
}

.client-section {
  display: inline-block;
  height: 600px;
  width:25%;
  padding-left: 3em;
}

.header-section{
  padding-left: 50px;
}

.guest-section {
  display: inline-block;
  height: 600px;
  width: 74%;
  padding-right: 3em;
}


/*Overrides*/

body{
  font-family: 'Share Tech Mono','Courier New',Courier,fixed-width;
  font-size: 0.8em;
}

div#local-media {
  position: relative;
}

div#local-media video, div#local-media canvas {
  top: 0;
  left: 0;
  width: 270px;
  height:204px;
  position: absolute;
}

canvas{
  z-index: 100000;
}

div#remote-media {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0);
  border: solid 1px #686865;
  text-align: center;
  margin: auto;
  position: relative
}

div#remote-media video, div#remote-media canvas {
  top: 0;
  left: 0;
  width: 900px;
  height: 600px;
  position: absolute;
}

canvas{
  z-index: 100000;
}

div#controls div#log {
  width: 100%;
  height: 9.5em;
  margin-top: 2.75em;
  text-align: left;
  padding: 1.5em;
  /* float: right; */
}

div#controls {
  /*padding-left: 0em;*/
  padding-top: 0px;
}

div#controls div#invite-controls, div#controls div#preview, div#controls div#token {
   margin: 0 0em;
}

div#remote-media video {
  max-width: 100% !important;
}
/* Advertisements */

.advertisement {
  position: absolute;
  display: none;

  width: 100px;
  height: 100px;
  z-index: 1000;
}